<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:replace="template :: head">
</head>
<body>
<div class="container">

    <div id="top" th:include="template :: masthead"></div>

    <div id="middle">

        <!-- TODO - Display portfolio -->
        <table>
            <tr th:each="key : ${portfolio.keySet()}">
                <td th:text="${key}">key</td>
                <td th:text="${portfolio.get(key).sharesOwned}"></td>
                <td th:text="${portfolio.get(key).sharesOwned}"></td>
            </tr>
        </table>
        <p>Portfolio!</p>

    </div>

    <div th:replace="template :: footer"></div>
</div>
</body>
</html>